.login-container {
   background: linear-gradient(180deg, rgb(237, 70, 144) 0%, rgb(85, 34, 204) 100%);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
 }
 
 #login_btn {
   text-align: center;
 }
 
 #login_image {
   text-align: center;
   /* margin-left: 25px; */
 }
 
 .heading_login {
   color: white;
 }
 
 .username_heading {
   color: white;
 }
 
 .password_heading {
   color: white;
 }
 
 .login-form {
   max-width: 400px;
   padding: 20px;
   /* margin-right: 25px; */
 }
 
 .img-fluid {
   margin-top: 60px;
   margin-bottom: 30px;
 }
 
 .fa-eye-slash:before {
  content: "\f070";
}

.fa-eye:before {
  content: "\f06e";
}

.input-group {
  position: relative;
}

.input-group .form-control {
  padding-right: 40px;
}

.input-group-append {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;
}
